.mainContainer {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.container{
    width: 425px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 45%;
    border-radius: 4px;
    padding:  10px;
    align-self: center;
}

.container label{
    color: black;
    font-size: 1.4rem;
    margin-top: 0px;
    font-weight: bold;
}

.container h3{
    color:rgb(0, 0, 0);
    font-size: 2.6rem;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 35%;
}

.container form{
    width: 400px;
    border-radius: 20px;
}

.container .input{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container .input label{
    margin-bottom: 10px;
}

.container input[type=text]{
    border-radius: 5px;
    border: black;
    padding: 10px 10px;
    font-size: 1.2rem;
}

.container .buttons{
    text-align: center;
}

.container .buttons button{
    width: 100%;
    padding: 15px 10px;
    background-color: darkgray;
    border: 2px solid darkgray;
    margin:20px 0;
    color: black;
    font-weight: bold;
    font-size: 1.8rem;
    border-radius: 4px;
    box-sizing: border-box;
}

.container .buttons button:hover{
    background-color: rgb(110, 106, 106);
}

.css-12jo7m5 {
    font-size: 1.2rem !important;
    padding:0px !important;
}

.css-1leezlx-MenuList {
    font-size: 1.2rem !important;
}

.css-g1d714-ValueContainer {
    padding: 10px 10px !important;
}

.css-nbylj9-option {
    color: black !important;
    border-bottom: 1px dotted gray !important;
}

.css-1579d96-option {
    color: black !important;
    border-bottom: 1px dotted gray !important;
}

.css-yk16xz-control:hover {
    border-color: black !important;
    box-shadow: 0 0 0 1px transparent !important;
}

.css-1pahdxg-control:hover{
    border-color: black !important;
    box-shadow: 0 0 0 1px transparent !important;
}
